<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Springit - User Activated')}">
</head>
<body>

    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 alert alert-success" role="alert" >
                You're account has been activated and you can now <a href="#" th:href="@{/login}">login</a>.
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>

</body>
</html>