<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title='Springit - Spring Boot Reddit Clone')}">
</head>
<body>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <div class="container" th:fragment="content">

        <!-- links -->
        <div class="row link" th:each="link : ${links}">
            <div class="col-1">
                <div><a href="#" class="upvote" th:data-id="${link.id}"><i class="fas fa-arrow-up"></i></a></div>
                <div><span th:id="|votecount-${link.id}|" class="votecount" th:text="${link.getVotesSum()}">3</span></div>
                <div><a href="#" class="downvote" th:data-id="${link.id}"><i class="fas fa-arrow-down"></i></a></div>
            </div>
            <div class="col-11">
                <p class="title">
                    <a class="title " th:href="@{'/link/' + ${link.id}}" th:text="${link.title}">
                        Title Goes Here
                    </a>
                    <span class="domain">(<a th:href="${link.url}" th:text="${link.getDomainName()}">therealdanvega.com</a>)</span>
                </p>
                <p class="tagline ">submitted
                    <!--<time title="Sat Mar 10 06:26:36 2018 UTC" datetime="2018-03-10T06:26:36+00:00" class="live-timestamp">2 hours ago</time> by-->
                    <time th:title="${link.getCreationDate()}" th:datetime="${link.getCreationDate()}" class="live-timestamp" th:text="${link.getPrettyTime()}">1 hour(s)</time> by
                    <a href="/" class="author">therealdanvega</a>
                </p>
                <p>
                    <a th:href="@{'/link/' + ${link.id} + '#comments'}" class="comments" th:text="|${link.getComments().size()} comments|"><i class="fas fa-comments"></i> 0 comments</a>
                    <a href="/" class="share"><i class="fas fa-share-square"></i> share</a>
                </p>
            </div>
        </div>

    </div>

    <script>

        const allvotes = document.querySelectorAll(".upvote, .downvote");
        console.log(allvotes);
        
        for(let i=0; i<allvotes.length; i++) {
            let className = allvotes[i].className;
            let votecount = allvotes[i].closest("votecount");
            console.log(votecount);
            allvotes[i].addEventListener('click', function (event) {
                const direction = className === 'upvote' ? 1 : -1;
                const linkID = this.getAttribute("data-id");
                console.log(direction,linkID);
            });
        }

        /*
        const upvotes = document.querySelectorAll(".upvote");

        for (let i = 0; i < upvotes.length; i++) {
            upvotes[i].addEventListener('click', function(event) {
                const direction = 1;
                const linkID = this.getAttribute("data-id");
                const url = `//localhost:8080/vote/link/${linkID}/direction/${direction}`;

                fetch(url)
                    .then(function(response){
                        if( response.ok ){
                            window.location.reload();
                        }
                    })
                    .catch(function(err){
                        console.error(err);
                    });
            });
        }

        const downvotes = document.querySelectorAll(".downvote");

        for (let i = 0; i < upvotes.length; i++) {
            downvotes[i].addEventListener('click', function(event) {
                const direction = -1;
                const linkID = this.getAttribute("data-id");
                const url = `//localhost:8080/vote/link/${linkID}/direction/${direction}`;

                fetch(url)
                    .then(function(response){
                        if( response.ok ){
                            window.location.reload();
                        }
                    })
                    .catch(function(err){
                        console.error(err);
                    });
            });
        }
        */

    </script>
</body>
</html>